#containerNavbar{
    height: 100%;
    display: flex;
    justify-content: center;
    box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.75);
}

.visibleNavbar{
    height: 100vh;
    background-color: var(--azul); 
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 10%;
    justify-content: center;
}


.navegationNavbar{
    display: flex;
    flex-direction: column;
}

.navegationNavbar button{
    color: var(--negro);
    margin: 10px 0;
    background: none;
    border: none;
    height: 40px;
    font-size: 1rem;
}

.navegationNavbar button:hover{
    font-size: 110%;
    color: var(--negro2);
    background-color: var(--violeta);
}

.redesProfile{
    display: flex;
    justify-content: center;
}

.redesProfile a:hover{
    color: var(--negro2);
    transform: scale(1.2) ;
    -webkit-transform: scale(1.2) ;
    -moz-transform: scale(1.2) ;
}

.fotoIcon{
    height: 20%;    
}

.fotoIcon img{
    width: 100%;
    border-radius: 200px 200px 200px 200px;
-webkit-border-radius: 200px 200px 200px 200px;
-moz-border-radius: 200px 200px 200px 200px;
}