

#containerNavbar {
    z-index: 10;
    
    /* background: #9d4dff;
background: linear-gradient(142deg,#9d4dff 30%, #1d269b 80%);
background: -webkit-linear-gradient(142deg,#9d4dff 30%, #1d269b 80%);
background: -moz-linear-gradient(142deg,#9d4dff 30%, #1d269b 80%); */

    position: fixed;
    height: 100vh;
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    border-right: 10px outset var(--violeta);
    border-bottom: 10px outset var(--rosa);

    border-radius: 0px 0px 45px 0px;
-webkit-border-radius: 0px 0px 45px 0px;
-moz-border-radius: 0px 0px 45px 0px;


box-shadow: 3px 1px 16px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 3px 1px 16px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 1px 16px 0px rgba(0,0,0,0.75);
}

.fotoIcon{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 1px 16px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 3px 1px 16px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 1px 16px 0px rgba(0,0,0,0.75);
}

.fotoIcon img{
    height: 100%;
}

.navegationNavbar{
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navegationNavbar .btn{
    margin: 30px auto;
    font-size: 1rem;

}