
.bodyProfileScroll{

    overflow: hidden;

    display: flex;
    align-items:  center;

    height: 100%;
}


#divImagenesScroll{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.btnScroll{
    width: 5%;
    height: 100%;
    position: absolute;
    z-index: 10;
    display: flex;
    align-items: center;
    top: 0;
}

#divBtnNext{
    
    right: 0;
}

#divBtnPrev{
    
    left: 0;
}

#containerImagenesScroll{
    display: flex;
    align-items: center;
    justify-content: center;
}

#containerImagenesScroll img{
    width: 100%;
}

#btnPrev{
    cursor: pointer;
}

#btnNext{
    cursor: pointer;
}