
.cardBody{

    color: var(--negro);
    width: calc(100%/2);

    background-color: var(--azul);

    display:flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0; 
}



.imgCard{
    width: 20%;
    display: flex;
    align-items: center;
}

.imgCard img{
    width: 100%;
}

.detailCard{
    width: 70%;
    margin-left: 10%;
}

.linkFile{
    width: 10%;
}

.cardBody:hover{
    animation: cambiaColorDiv 250ms ease-in;
    animation-fill-mode: forwards;
}

@keyframes cambiaColorDiv{
    0%{
        background-color: var(--azul);
    }
    100%{
        color: var(--negro2);
        background-color: var(--violeta);
    }
}