
.bodyProyectCard{

    margin: 20px;

    background-color: rgb(255, 217, 140);

    position: relative;

    display: grid;
    grid-template-rows: 10% 90%;
    gap: 10px 0px;

    border: 1px solid black;
    width: 40%;
    padding: 20px;

    border-radius: 40px 20px 0px 20px;
-webkit-border-radius: 40px 20px 0px 20px;
-moz-border-radius: 40px 20px 0px 20px;

    box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.75);

}

.detailProyectCard{
    text-align: end;
}

.imgProyectCard{
    width: 100%;
}

.imgProyectCard img{
    width: 100%;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}

.divTextHover{
    visibility: hidden;
    position: absolute;
    padding: 20px;
    background-color: cornsilk;

    border-radius: 0px 0px 0px 20px;
-webkit-border-radius: 0px 0px 0px 20px;
-moz-border-radius: 0px 0px 0px 20px;

box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.75);

}

.imgProyectCard:hover + .divTextHover{
    animation: subeDivHover 1s ease forwards;
}

.imgProyectCard:hover img{
    filter: blur(2px);
    cursor: pointer;
}

@keyframes subeDivHover{
    from{
        bottom: -20px;
    }
    to{
        bottom: 0;
        visibility: visible;
    }
}