#bodyApp{
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    grid-template-areas: "navbar perfil"
                         "navbar proyectos"
                         "navbar estudios";
}

#navbarContainer{
    grid-area: navbar;
}

#profilePageContainer{
    grid-area: perfil;
}

#proyectPageContainer{
    grid-area: proyectos;
}

#estudiosPageContainer{
    grid-area: estudios;
}