#bodyApp { 
    margin: 0;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 0.2fr 0.95fr 0.05fr;
    gap: 55px 0px;
    grid-template-areas:
        "navbar perfil ."
        "navbar proyecto ."
        "navbar estudio .";
}


#navbarContainer {
    grid-area: navbar;
}

#profilePageContainer {
    grid-area: perfil;
}

#proyectPageContainer {
    grid-area: proyecto;
}

#estudiosPageContainer { 
    grid-area: estudio; 
}