@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Rowdies:wght@300;400&display=swap');

:root{
  background-color: var(--gris);

--gris:#cef5ec;
--azul:#5394fc;
--violeta:#b477ff;
--negro:rgb(44, 44, 44);
--negro2:rgb(17, 15, 15);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fjalla One", sans-serif;
  font-weight: 200;
  font-style: normal;
}

button{
  cursor: pointer;
}


